<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Command Statistic</ion-title>
    <ion-badge slot="end" color="danger" class="badge-left">{{commands.length}}</ion-badge>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button color="dark">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshing-spinner="dots"
      pullingText="Pull to refresh"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-toolbar class="list__actions">
    <ion-label class="list__size" slot="start">
      {{commands.length}} Commands
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="showOptions()" class="list__options" color="dark" fill="clear">
        <ion-icon slot="start" size="small" name="options"></ion-icon>
        <ion-text>Options</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-list class="list">
    <ion-item *ngFor="let stat of commands">
      <ion-label class="label">{{stat.commandName}}</ion-label>
      <ion-note color="danger" slot="end">{{stat.count}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
