<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Message</ion-title>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button color="dark">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item color="tertiary" *ngIf="recipient">
    <ion-label align="center">
      RECIPIENT: <span>{{user.firstName ? user.firstName : 'Loading...'}}</span>
    </ion-label>
  </ion-item>
  <ion-item color="success" *ngIf="!recipient">
    <ion-label align="center">
      MESSAGE TO ALL USERS
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Your Message</ion-label>
    <ion-textarea rows="20" cols="20" placeholder="Type your message here..."></ion-textarea>
  </ion-item>
    <section>
      <header>CONFIRM ACTION</header>
      <ion-button (click)="redirectToUsers()" fill="outline" color="tertiary" expand="block">Cancel</ion-button>
      <ion-button (click)="sendMessage()" style="margin-top: 10px" color="success" expand="block">Confirm</ion-button>
    </section>
</ion-content>
