<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reviews</ion-title>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button color="dark">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" value="new">
    <ion-segment-button value="new">
      <ion-label>New</ion-label>
    </ion-segment-button>
    <ion-segment-button value="archive">
      <ion-label>Archive</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
